* {
  font-family: Arial, serif;
  font-size: large;
}

.cdk-drag-placeholder {
  display: none;
}

.cdk-drag-preview {
  box-sizing: border-box;
  box-shadow: 0 3px 3px -2px rgba(0, 0, 0, 0.2),
  0 8px 10px 1px rgba(0, 0, 0, 0.14),
  0 3px 14px 2px rgba(0, 0, 0, 0.12);

  background: #fff;
  opacity: 0.3;
}

.drop-inside {
  border: 1px solid #00f;
}

.drop-before {
  border-top: 1px solid #00f;
}

.drop-after {
  border-bottom: 1px solid #00f;
}

.node-title {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  border-radius: 15px;
  padding:15px;
  margin: 5px;
  background-color: rgba(204, 196, 196, 0.5);
  cursor: grab;
}

/*rgba(175, 165, 162, 0.5)*/
/*rgba(180, 179, 179, 0.5)*/

.item-number, .item-text {
  margin-right: 10px; /* Adjust the margin as needed */
}

.node-children {
  position: relative;
  transition: height 0.2s;
  margin-left: 40px;
}

.node-info {
  flex-grow: 1;
  display: flex;
}

.item-notes {;
  margin-left:20px;
  color:#aaa;
}

.btn-dad{
  margin-left: 10px;
  font-size: small;
}

.trash-dad{
  color: white;
}

@media screen and (max-width: 600px) {
  .node-title {
    flex-direction: column;
  }

  .btn-dad {
    margin-top: 2px; /* Add margin between buttons when stacked vertically */
    margin-left: 0; /* Reset left margin when stacked vertically */
  }
}
