.modal-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.full-size-editor {
  width: 100%;
  height: 100%;
  min-height: 42vh; // Provient de chatGPT lebel
}

.editor-container {
  flex: 1;
  display: flex;
  flex-direction: column;
}
