/**
  Style pour le component permettant d'effectuer la modification et suppression de l'approbation d'un plan de cours
  Note : ce component ne nécessite pas de style, mais un fichier de style doit quand même être présent
  @author Jonathan Carrière
*/
