/**
Feuille de style associée au formulaire pour les sessions
@author Jonathan Carrière
 */

// Style pour ajouter du padding au formulaire
#formulaireSession {
  padding: 20px;
  margin-bottom: 3em;
}

// Style pour la largeur de la grille pour le formulaire
#sectionFormulaireSession {
  max-width: 600px;
  margin: 0 auto;
}
