/**
Mise en forme des informations
@author Jacob Beauregard-Tousignant
 */
.sectionGenerale{
  margin-bottom: 2%;
  padding: 2%;
  border-bottom: black ;
  border-style: solid;
}

.rangeeInfo{
  border-bottom: 1px solid;
  margin-bottom: 2.5%;
}

.test{
  border-left: 1px solid;
}



