/**
  Style pour le component permettant d'effectuer la gestion du chargement des données
  Note : ce component ne nécessite pas de style, mais un fichier de style doit quand même être présent
  @author Jonathan Carrière
*/
