/**
Feuille de style associée à la page des compétences
@author Jonathan Carrière
 */
ul {
  list-style-type: none;
  padding-left: 0;
}

ion-input {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

.box_outline {
  border-color: #403E39;
  border-width: thin;
  border-style: solid;
  border-radius: 3px;
  margin: 1%;
  padding: 1%;
}

// Style permettant d'afficher les champs Quill en bloque // Emeric css de formulaire-plan-cour
quill-editor {
  display: inline-block;
  width: 100%;
}

// Style pour le message des champs requis
.champsRequis {
  color: #eb445a;
  font-family: 'Roboto', 'Helvetica Neue', sans-serif;
}

.section-d-a-d{
  margin-left: 1.5em;
  margin-right: 2em
}

.em{
  margin-left: 1.4em;
}

.alignement-btn{
  margin-left: -4em;
  margin-top: -1em;
}

.em-grid{
  margin-bottom: 5em;
}

@media (max-width: 575.99px) {
  .xs-alignement-btn {
    margin-left: -4em;
    margin-top: -1em;
    margin-bottom: 4em;
  }
}

.custom-column {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

@media (min-width: 1500px) {
  .em-row {
    margin-left: -2.5em;
  }
}
