

ion-item {
  margin-bottom: 16px;
}

ion-label {
  font-weight: bold;
}

ion-button {
  margin-top: 20px;
}

ion-grid {
  max-width: 600px;
  margin: 0 auto;
}

.rangeeCritere{
  border: solid black 1px;
  padding: 1%;
  margin-bottom: 3%;
}

ion-datetime{
  max-height: 8em;
  width: 8em;
}


.competence{
  border-bottom: solid black 3px;
  margin-bottom: 4em;
}

//.typePrealable{
//  align-items: end;
//}
