/**
Feuille de style associée au formulaire pour les enseignants
@author Jonathan Carrière
 */

// Style pour ajouter du padding au formulaire
#formulaireEnseignant {
  padding: 20px;
  margin-bottom: 3em;
}

// Style pour la largeur de la grille pour le formulaire
#sectionFormulaireEnseignant {
  max-width: 600px;
  margin: 0 auto;
}
