/**
Message d'erreur pour le filtrage des plans de cours
@author Jonathan Carrière
 */
.messageErreur {
  color: #eb445a;
  font-size: 30px;
  font-family: 'Roboto', 'Helvetica Neue', sans-serif;
  text-align: center;
  margin-top: 1em;
}
@media (max-width: 767px) {
  .messageErreur {
    font-size: 18px;
    margin-left: 1em;
    margin-right: 1em;
  }
}
